<!--<header>-->
<!--  <nav class="navbar navbar-default">-->
<!--    <a class="navbar-brand" href="#">Places List</a>-->
<!--  </nav>-->
<!--</header>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <nav class="navbar">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Places</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="searchText" class="form-control" type="text" placeholder="Enter Place">-->
<!--        </label>-->
<!--        <mat-select>-->
<!--          <mat-option *ngFor="let c of placeNames">-->
<!--            {{c}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </nav>-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>#</th>-->
<!--          <th>Name</th>-->
<!--          <th>Attraction</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr *ngFor="let place of places; let i = index">-->
<!--          <td>{{i}}</td>-->
<!--          <td>{{place.name}}</td>-->
<!--          <td>{{place.attraction}}</td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->


<ngx-select
  [allowClear]="true"
  [items]="names"
  (select) = "selectedPlace($event)"
  optionValueField="optionId"
  optionTextField="optionTitle"
  placeholder="Select...">
</ngx-select>


<ngx-select
  *ngIf="showAttractionList"
  [allowClear]="true"
  [items]="attractions"
  (select) = "selectedAttraction($event)"
  optionValueField="optionId"
  optionTextField="optionTitle"
  placeholder="Select...">
</ngx-select>



<ngx-select
  *ngIf="showEmailList"
  [multiple]="true"
  [allowClear]="true"
  [items]="emailList"
  (select) = "selectedEmails($event)"
  optionValueField="optionId"
  optionTextField="optionTitle"
  placeholder="Select...">
</ngx-select>

<div class="templates" *ngIf="showTemp">
  <ul>
    <li *ngFor="let temp of templates ; index as i" (click)="onSelectTemplate(temp)">{{i}} {{temp}}</li>
  </ul>
</div>

<div class="send-button" *ngIf="sendActivated">
  <button (click)="sendEmail()">SEND</button>
</div>
