<!--<header>-->
<!--  <nav class="navbar navbar-default">-->
<!--    <a class="navbar-brand" href="#">Places List</a>-->
<!--  </nav>-->
<!--</header>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <nav class="navbar">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Places</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="searchText" class="form-control" type="text" placeholder="Enter Place">-->
<!--        </label>-->
<!--        <mat-select>-->
<!--          <mat-option *ngFor="let c of placeNames">-->
<!--            {{c}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </nav>-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>#</th>-->
<!--          <th>Name</th>-->
<!--          <th>Attraction</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr *ngFor="let place of places; let i = index">-->
<!--          <td>{{i}}</td>-->
<!--          <td>{{place.name}}</td>-->
<!--          <td>{{place.attraction}}</td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->


<div style="width: 300px; margin-bottom: 20px;">
  <h3>Select a single city</h3>
  <ng-select [allowClear]="true"
             [items]="placeNames"
             (data)="refreshValue($event)"
             (selected)="selected($event)"
             (removed)="removed($event)"
             (typed)="typed($event)"
             placeholder="No city selected">
  </ng-select>
  <p></p>
  <pre>{{value}}</pre>
</div>
