<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

<div class="head">
  <div class="place">
    <h3>Select Place</h3>
    <ngx-select
      [allowClear]="true"
      [items]="names"
      (select) = "selectedPlace($event)"
      optionValueField="optionId"
      optionTextField="optionTitle"
      placeholder="Select...">
    </ngx-select>
  </div>


  <div class="attraction" *ngIf="showAttractionList">
    <h3>Select Attraction</h3>
    <ngx-select
      [allowClear]="true"
      [items]="attractions"
      (select) = "selectedAttraction($event)"
      optionValueField="optionId"
      optionTextField="optionTitle"
      placeholder="Select...">
    </ngx-select>
  </div>



  <div class="email" *ngIf="showEmailList">
    <h3>Select Email IDs</h3>
    <ngx-select
      [multiple]="true"
      [allowClear]="true"
      [items]="emailList"
      (select) = "selectedEmails($event)"
      optionValueField="optionId"
      optionTextField="optionTitle"
      placeholder="Select...">
    </ngx-select>
  </div>


  <div class="templates" *ngIf="showTemp">
    <h3>Select Template</h3>
    <ul class="template">
      <li *ngFor="let temp of templates" [class.selected]="temp.id === selectTemplate" (click)="onSelectTemplate(temp.id)">
        <span class="badge">{{temp.id}}</span>
        <span class="text">{{temp.text}}</span>
      </li>
    </ul>
  </div>

  <div class="send-button" *ngIf="sendActivated">
    <button (click)="sendEmail()">SEND</button>
  </div>

</div>
